*{
    box-sizing: border-box;
}

.header{
    text-transform: uppercase;
    text-align: center;
    opacity: 100px;
    color: white;
    padding: 32px;
}

h1, h2{
    margin-left: 100px;
}

h2{
    text-transform: none;
    font-style: italic;
}

body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat; /*ginagamit para magfull background yung mga images*/
    background-size: cover; /*ginagamit para magfull background yung mga images*/
    background-attachment: fixed; /*ginagamit para magfull background yung mga images*/
    font-family: sans-serif;
    margin: 0;
}

.gallery {
    display: flex; /*para maalign ang mga items sa isang line
    or left to the right or right to the left*/

    flex-direction: row;

    flex-wrap: wrap; /*force na mamove ang mga items or mabago
    into multiple lines*/
    /*nowrap kapag wala mababago*/
    /*reverse wrap naman kung babaliktarin*/

    justify-content: center; /*imomove lang ang mga items sa gitna
    mula sa leftside*/

    align-items: center;
    
    gap: 16px; /*spaces sa mga picture*/

    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    
}

.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: contain; /*ginagamit para magfit ang mga picture sa isang box
    lalo na kung magkakaiba sila ng aspect ratio*/
    border-radius: 50px;
    transition: transform .5s; /*effects sa paghohover at kung gaano katagal*/
    box-shadow: 5px 10px 8px 10px white;
}

.gallery img:hover{
    transform: scale(1.5); /*kung gaano kalaki magtatransform*/
    cursor: pointer;
}

.logo{
    width: 120px;
    position: absolute;
    margin-left: -350px;
}
