
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

#name {
  font-size: 24px;
  margin-left: 20px;
  text-align: center;
}

#image {
  max-width: 100%;
  height: auto;
}

#container {
  
  width: 1100px;
  margin: 40px auto;
  padding: 1px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  box-shadow: #333;
  box-shadow: 10px 10px 5px gray;
}



#image{
  position: relative;
  left: 520px;
  top: -300px;
  margin-bottom: -200px;
  margin-top: -80px;
  width: 4000px;

}



p{
  width: 53%;
  text-indent: 35px;
  font-size: 20px;
  font-style: italic;
  color: white;
}

#content{
  margin-left: 70px;
  margin-top: 200px;
}

#name{
  text-align: center;
}

h1{
  margin-left: 65px;
  color: white;
  font-size: 30pxS;
}

.pats{
  text-align: center;
  font-size: 30px;
  margin-left: 200px;
}

.here{
  margin-top: 50px;
  background-color: lightgray;
  color: black;
  width: 25%;
  text-align: center;
  padding: 10px;
  margin-left: 110px;
  border-radius: 20px;
}

.here:hover {
  background-color: yellow;
  color: black;
}
/*this is the final output na talaga hehe*/